.content {
  display: grid;
  width: calc(100vw - 300px);
  height: calc(100vh - 60px);
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1px;
  background-color: #fff;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  overflow: hidden;
}

